<h1><%= @thing.name %></h1>

<ul>
	<li>Description: <%=@thing.description %></li>
    <li>Reason You Love It: <%=@thing.reason %></li>
    <li>Where It Is: <%= link_to @thing.street + ", " + @thing.city + ", " + @thing.state + ", " + @thing.zip_code, 'http://www.google.com' %></li>
</ul>

<!-- # <%= button_to 'Edit', edit_thing_path(@thing), method: :get %> -->
<%= button_to "delete", @thing, :method => :delete %>
<%= button_to "edit", edit_thing_path(@thing), :method => :get %>
<%= button_to "Return to profile", user_path(current_user.id), :method => :get %>
